GetApplicationStatus/Schemas/getApplicationStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/getApplicationStatus" xmlns:tns="http://www.example.org/getApplicationStatus" elementFormDefault="qualified">

    <element name="getApplicationStatusResponse"
    	type="tns:getApplicationStatusResponseType">
    </element>
    

    <complexType name="getApplicationStatusResponseType">
    	<sequence>
    		<element name="Status" type="string"></element>
    	</sequence>
    </complexType>
</schema>